/* Umum */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #00bcd4 !important;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #005f74;
}

/* Navbar */
.navbar {
    background-color: #343a40 !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #00bcd4;
}

/* Carousel */
.carousel-inner {
    height: 80vh;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
}

.carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

.carousel-caption p {
    font-size: 1.25rem;
    color: #007bff;
    font-weight: bold;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40;
}

/* Features Section */
.features-section {
    margin: 50px 0;
}

.features-section i {
    color: #00bcd4;
}

.features-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.features-section p {
    font-size: 1rem;
}

/* Card Section */
.card {
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-body {
    padding: 1.5rem;
}

.card-body .btn {
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.card-body .btn:hover {
    background-color: #007bff;
}

/* Footer */
footer {
    background-color: #343a40;
    padding: 30px 0;
    color: white;
}

footer p {
    margin: 0;
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #00bcd4;
}

.footer-bottom {
    font-size: 0.875rem;
}

/* Media Queries */
@media (max-width: 767px) {
    .carousel-caption h5 {
        font-size: 2rem;
    }

    .features-section {
        margin: 30px 0;
    }

    .features-section i {
        font-size: 3rem;
    }

    .features-section h3 {
        font-size: 1.25rem;
    }

    .features-section p {
        font-size: 0.9rem;
    }
}

@media (max-width: 991px) {
    .card {
        margin-bottom: 30px;
    }

    .card-title {
        font-size: 1.1rem;
    }
}